<<<<<<< HEAD
.gameInfo {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  min-width: 170px;
  
}
=======
.gameInfo {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  min-width: 170px;
  
}
>>>>>>> 4cbb130b0552613fb51d0139b295f4773abae726
